ul,li,p,h3,h5,em,b,i,span,a {
	margin: 0;
	padding: 0;
}

ul,li {
	list-style: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	zoom: 1
}

.ui-city a,.ui-city a:visited {
	line-height: 14px;
	color: #333;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.ui-city a:hover {
	text-decoration: none;
}

.ui-city {
	display: inline-block;
	*dispplay: inline;
	*zoom: 1;
	font-size: 12px;
	position: relative;
	z-index: 0
}

.ui-city .dn {
	display: none;
}

.ui-city .db {
	display: block;
}

.ui-city .dib {
	display: inline-block;
}

.ui-city .arr {
	display: inline-block;
	width: 0;
	height: 0;
	border-color: #bbb transparent transparent;
	border-width: 5px;
	border-style: solid dashed dashed;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

.ui-city a.ui-city-toggle:hover {
	color: #333;
}

.ui-city-toggle {
	display: inline-block;
	border: 1px solid #bbb;
	padding: 6px 5px 6px 6px;
	color: #000;
	background: #fff;
	position: relative;
	z-index: 100
}

.ui-city-toggle .address-placement {
	font-style: normal;
	float: left;
}

.ui-city-toggle span {
	padding-right: 5px
}

.ui-city-toggle span:hover {
	color: #333;
}

.ui-city-toggle .arr {
	margin-right: 5px;
	position: relative;
	top: 5px;
	float: left;
}

.ui-city-group {
	display: none;
	position: absolute;
	background: #fff;
	left: 0;
	top: 27px;
	border: 1px solid #ccc;
	margin-top: -1px;
	width: 420px;
	z-index: 99;
	box-shadow: 0 0 6px #ddd;
	padding-top: 5px;
}

.ui-city-group .ui-city-close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 10px;
	overflow: hidden;
}

.ui-city-group .ui-city-close i {
	font: 700 14px/1.5 simsun;
	margin-left: -4px;
	color: #aaa
}

.ui-city-group-header {
	padding-top: 10px;
}

.ui-city-group-header p {
	padding-left: 15px;
	margin-bottom: 10px;
}

.ui-city-group-header .address-title {
}

.ui-city-group-header .address-item {
	clear: both;
}

.ui-city-group-header .address-item a,.ui-city-group-header .address-item a:visited {
	display: inline-block;
	zoom: 1;
	padding-top: 4px;
	padding-left: 5px;
	padding-bottom: 4px;
	margin-right: 10px;
	border: 1px solid #bbb;
}

.ui-city-group-header .address-item a:hover {
	background: #f90;
	color: #fff;
	border: 1px solid #f90;
}

.ui-city-group-header .address-item a span {
	padding-right: 5px
}

.ui-city-group-content {
	margin: 10px 10px 0 10px;
	background: #fff;
}

.ui-city-group-content .nav-tabs {
	padding-left: 6px
}

.ui-city-group-content .nav-tabs li {
	float: left;
	position: relative;
	z-index: 2;
	border: 1px solid #ccc;
	height: 26px;
	background: #fff;
	margin-right: 6px;
	margin-bottom: 0;
	cursor: pointer;
}

.ui-city-group-content .nav-tabs li p {
	padding: 6px 10px 6px 10px;
	border: 1px solid #fff;
}

.ui-city-group-content .nav-tabs li a,.ui-city-group-content .nav-tabs li a:visited {
	color: #999;
	float: left
}

.ui-city-group-content .nav-tabs li .arr {
	position: relative;
	top: 3px;
	left: 5px;
	font-size: 0;
	line-height: 0;
}

.ui-city-group-content .nav-tabs li.current {
	border: 2px solid #ffb84e;
	border-bottom: none;
	z-index: 4;
}

.ui-city-group-content .nav-tabs li.current p {
	padding: 6px 10px 5px 10px;
	position: relative;
	z-index: 4;
	border: none;
}

.ui-city-group-content .nav-tabs li.current .arr {
	border-color: transparent transparent #f90;
	border-style: dashed dashed solid;
	top: -2px;
}

.ui-city-group-content .nav-tabs li.current a,.ui-city-group-content .nav-tabs li.current a:visited {
	display: inline-block;
	color: #333;
}

.ui-city-group-content .nav-tabs li.active a,.ui-city-group-content .nav-tabs li.active a:visited {
	display: inline-block;
	color: #333;
}

.ui-city-group-content .tab-content {
	border-top: 2px solid #ffb84e;
	top: -2px;
	position: relative;
	z-index: 3
}

.ui-city-group-content .tab-content .tab-panel {
	display: none;
	padding-top: 3px;
	padding-bottom: 15px;
	background: #fff;
	padding-left: 8px
}

.ui-city-group-content .tab-content .tab-panel.active {
	display: block;
}

.ui-city-group-content .tab-content li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.ui-city-group-content .tab-content li {
	*zoom: 1;
}

.ui-city-group-content .tab-content li span {
	display: inline-block;
	width: 98px;
}

.ui-city-group-content .tab-content li a,.ui-city-group-content .tab-content li a:visited {
	display: inline-block;
	background: #fff;
	margin: 2px;
	padding: 5px;
	color: #000;
}

.ui-city-group-content .tab-content li a:hover {
	background: #f90;
	color: #fff;
}

.ui-city-group-content .tab-content li a.on,.ui-city-group-content .tab-content li a.on:visited {
	background: #f90;
	color: #fff;
}

.ui-city-group-content .tab-content .pr-panel li a {
}

.ui-city.active {
	z-index: 10
}

.ui-city.active a.ui-city-toggle {
	border: 1px solid #ccc;
	background: #fff;
	border-bottom: none;
	box-shadow: 0 -1px 1px #ddd
}

.ui-city.active a.ui-city-toggle:hover {
	color: #333;
	background: #fff;
	text-decoration: none;
}

.ui-city.active a.ui-city-toggle .arr {
	border-color: transparent transparent #f90;
	border-style: dashed dashed solid;
	top: 0;
}

.ui-city.active .ui-city-group {
	display: block;
}

.ui-city .arr {
	transition: All .2s ease;
	-webkit-transition: All .2s ease;
	-moz-transition: All .2s ease;
	-o-transition: All .2s ease;
	-ms-transition: All .2s ease;
}